version: '3.8'

services:
  app:
    build: .
    container_name: laravel_app
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      DB_CONNECTION=pgsql
      DB_HOST=db
      DB_PORT=5432
      DB_DATABASE=postgres
      DB_USERNAME=postgres
      DB_PASSWORD=postgres
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB=postgres
      POSTGRES_USER=postgres
      POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
